$width: 100%;
$height: 100%;
$ext: inherit;
$in_bl: inline-block;
$f: #ffffff;

@mixin flex {
    display: flex;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin triangle {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid #ffffff;
    border-color: transparent transparent #ffffff;
}

@mixin triangletransparent {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: transparent transparent #747070;
    transform: rotateZ(90deg);
}

@mixin trianglereverse {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: transparent transparent #ffffff;
    transform: rotateZ(90deg);
}

@mixin ui-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin commondityPiece {
    button {
        background: #ffffff;
        height: 20px;
        width: 20px;
        line-height: 18px;
        border: 1px solid #dddddd;
        outline: none;
        cursor: pointer;
        color: #666666;
    }

    input {
        width: 30px;
        height: 20px;
        border: none;
        box-sizing: border-box;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        font-size: 12px;
        outline: none;
        color: #666666;
    }
}

//结算页面选中
@mixin checkout-active {
    position: relative;
    border-color: #0089dc;
    z-index: 1;

    &::after {
        content: "";
        @include triangle;
        border: 15px solid;
        border-color: transparent #0089dc #0089dc transparent;
        right: 0;
        bottom: 0;
    }

    .icon-tick {
        display: inline-block;
    }
}

//选中的打勾样式
@mixin tick {
    display: none;
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 16px;
    height: 16px;
    z-index: 2;
    background: url("../images/icons/icon-tick.svg");
    background-size: cover;
}

//大号按钮
@mixin btn-lg {
    padding: 12px 30px;
    font-size: 16px;
}

//shop item
@mixin shopItem {
    display: flex;
    padding: 20px;
    width: 25%;
    border-bottom: 1px #f5f5f5 solid;
    font-size: 12px;
    color: #999999;
    position: relative;

    .logo {
        margin-right: 20px;

        img {
            display: block;
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
        }
    }

    .content {
        width: calc(100% - 90px);
        text-align: left;
    }

    .title {
        width: 100%;
        margin-bottom: 6px;

        color: #333333;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .level {
        padding-top: 5px;

        .el-rate {
            i {
                font-size: 14px;
            }

            .el-rate__icon {
                margin-right: 0;
            }
        }
    }

    .shop-fee {
        margin-top: 0;
    }

    .provide {
        margin-top: 10px;

        i {
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid;
            border-radius: 2px;
            text-align: center;
            line-height: 16px;
            vertical-align: middle;
            font-style: normal;
            margin-right: 3px;
        }
    }
}