
$width: 100%;
$height: 100%;
$ext: inherit;
$in_bl: inline-block;
$f: #ffffff;

@mixin flex {
    display: flex;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin triangle {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid #ffffff;
    border-color: transparent transparent #ffffff;
}

@mixin triangletransparent {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color:transparent transparent #747070;
    transform: rotateZ(90deg);
}

@mixin trianglereverse {
    content: " ";
    position: absolute;
    display: $in-bl;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color:transparent transparent #ffffff;
    transform: rotateZ(90deg);
}
